.group {

    &_new {
        position: fixed;
        right: 5%;
        bottom: 0;
        color: white;
        background-color: black;
        padding: 20px;
        border-radius: 100%;
    }

    &_list {

        &_table {

            &_item {
                border-bottom: 1px solid lightcoral;
                background-color: rgba(#fff, 0.6);
                list-style: none;
            }
        }
    }
}