.group {

    &_title {
        background-color: rgba(#800000, 0.6);
        text-align: center;
        color: palegoldenrod;
    }

    &_search {
        margin-bottom: 20px;
        &_form {

            &_title {
                color: #800000;
            }

            &_content {
                padding: 7px 5px;
                border-radius: 20px;
                border: none;
            }

            &_button {
                background-color: tomato;
                color: white;
                border: none;
                padding: 3px 6px;
                border-radius: 10px;
                box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }

    &_new {
        position: fixed;
        right: 5%;
        bottom: 0;
        background-color: darkorange;
        padding: 20px;
        border-radius: 100%;

        span {
            color: white;
        }
    }

    &_list {

        &_table {

            &_item {
                padding-left: 10px;
                border-bottom: 1px solid lightcoral;
                background-color: rgba(#fff, 0.6);

                a {
                    color: black;
                }
            }
        }
    }
}

#group {
    background-image: image-url('group.png');
}

#group-chat {
    background-image: image-url('group-chat.png');
}

@media screen and (min-width: 320px) {
    .group_title {
        font-size: 10px;
    }
}

@media screen and (min-width: 2560px) {
    .group {

        &_title {
            font-size: 40px;
        }

        &_search {

            &_form {

                &_title {
                    font-size: 45px;
                    margin-right: 20px;
                }

                &_content {
                    padding: 18px 24px;
                    font-size: 30px;
                }

                &_button {
                    font-size: 30px;
                    padding: 8px 16px;
                }
            }
        }
        &_list {
    
            &_table {
    
                &_item {
                    font-size: 33px;
                }
            }
        }

        &_new {
            padding: 60px;
            font-size: 40px;
        }
    }

}