.home {

    &_title1 {
        color: cornsilk;
    }

    &_title2 {
        color: cornsilk;
    }

    &_chat {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .home_title2, .home_title1 {
        font-size: 10px;
    }

    .home_title2 {
        margin-left: 40%;
    }
}

@media screen and (min-width: 375px) {
    .home_title2, .home_title1 {
        font-size: 12px;
    }

    .home_title2 {
        margin-left: 40%;
    }
}

@media screen and (min-width: 768px) {
    .home_title2, .home_title1 {
        font-size: 15px;
    }

    .home_title2 {
        margin-left: 0;
    }
}

@media screen and (min-width: 2560px) {
    .home_chat {
        display: block;
        position: absolute;
        top: 250px;
        right: 5%;
        font-size: 30px;

        a {
            color: white;
            background-color: royalblue;
            padding: 7px 5px;
            display: block;
            margin-bottom: 10px;
            border-radius: 10px;
        }

        &_new {
           
        }

        &_index {
            text-align: center;
        }
    }

    .home_title2, .home_title1 {
        font-size: 40px;
    }

    .home_title2 {
        margin-left: 0;
    }
}